<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
EDIT {{ item.name }}
<form action="{% url 'update_item' %}" method="post">
    {% csrf_token %}
    <input type="text" name="item_id" value="{{ item.id }}" hidden>
    <input type="text" name="name" value="{{ item.name }}" >
    <input type="text" name="price" value="{{ item.price }}" >
    <input type="text" name="quantity" value="{{ item.quantity }}">
    
        <button type="submit">Atualizar</button>
    
</form>
</body>
</html>